/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li{
	display: inline-block;
}

/*custom styles*/
.container{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

.nav-bar{
	position: absolute;
	top: 20px;
	left: 0;
    right: 0;
    margin: 0 auto;
	height: 35px;
	width: 70%;
	z-index: 1;
}

.hero{
	background: url(../images/hero.jpg) no-repeat 0 100%;
	background-size: cover;
	height: 80vh;
	text-align: center;

}

.hero-text{
	position: absolute;
	top: 300px;
	left: 25%;
}

.promo-img{
	width: 24.76%;
}

.footer-wrapper {
	width: 980px;
	margin: 0 auto;
	font: 10px/15px Arial, Helvetica, sans-serif;
	color: rgb(140, 140, 140);
}
.footer-nav {
	float: right;
}
.footer-left {
	width: 430px;
	float: left;
}
.footer-top {
	margin: 25px 0 0 0;
}
.link {
	color: #08c;
	text-decoration: none
}
.link:hover {
	text-decoration: underline;
}
.line {
	padding: 0 6px;
	border-right: 1px solid rgb(140,140,140);
}
.clear{
	clear: left;
	display: inline-block;
	margin: 10px 0 25px 0;
}
.copyright {
	width: 215px;
	float: left;
}
.piped {
	width: 150px;
	float: left;
}